Put the Following code in your notebook!

In [1]:
import Data.DataWrangle as DW

Then you can call the functions like this

In [2]:
DW.HelloWorld()

'Hello World'

In [3]:
# If you want only a data where ALL data sources have data
no_NAN = DW.shared_date_data()
no_NAN

            close_SPY  close_TR  close_VIX
timestamp
2015-12-02     208.54    2.7700      15.91
2015-12-03     205.58    4.3989      18.11
2015-12-04     209.66    4.3900      14.81
2015-12-07     208.27    2.5295      15.84
2015-12-08     206.99    2.5090      17.60
...               ...       ...        ...
2022-03-23     443.80    5.8800      23.57
2022-03-24     450.48    6.7000      21.67
2022-03-25     452.69    4.5500      20.81
2022-03-28     455.91    5.8500      19.63
2022-03-29     461.55    6.1600      18.90

[1592 rows x 3 columns]

In [4]:
#If you want ALL the data (unlikely)
all_data = DW.read_into_single_DF()
all_data

            close_SPY  close_TR  close_VIX
timestamp
1990-01-02        NaN       NaN      17.24
1990-01-03        NaN       NaN      18.19
1990-01-04        NaN       NaN      19.22
1990-01-05        NaN       NaN      20.11
1990-01-08        NaN       NaN      20.26
...               ...       ...        ...
2022-03-24     450.48     6.700      21.67
2022-03-25     452.69     4.550      20.81
2022-03-28     455.91     5.850      19.63
2022-03-29     461.55     6.160      18.90
2022-03-30     458.70     5.085        NaN

[8121 rows x 3 columns]

In [5]:
# If you only want certain data sources
sliced_data = DW.slice_up(['close_TR','close_VIX'],dropNa=True)
# You do not need to specify dropNa, it defaults to True, turn it to False to keep NANs
sliced_data

            close_TR  close_VIX
timestamp
2015-12-02    2.7700      15.91
2015-12-03    4.3989      18.11
2015-12-04    4.3900      14.81
2015-12-07    2.5295      15.84
2015-12-08    2.5090      17.60
...              ...        ...
2022-03-23    5.8800      23.57
2022-03-24    6.7000      21.67
2022-03-25    4.5500      20.81
2022-03-28    5.8500      19.63
2022-03-29    6.1600      18.90

[1592 rows x 2 columns]

In [6]:
# If you want to add PCT Change data to any close dataframe
pct_change_data = DW.add_pct_change(no_NAN) #replace no_NAN DF with any dataframr
pct_change_data

,close_SPY,close_TR,close_VIX,pct_change_SPY,pct_change_TR,pct_change_VIX
timestamp,,,,,,
2015-12-02,208.54,2.7700,15.91,NaN,NaN,NaN
2015-12-03,205.58,4.3989,18.11,-0.014194,0.588051,0.138278
2015-12-04,209.66,4.3900,14.81,0.019846,-0.002023,-0.182220
2015-12-07,208.27,2.5295,15.84,-0.006630,-0.423804,0.069548
2015-12-08,206.99,2.5090,17.60,-0.006146,-0.008104,0.111111
...,...,...,...,...,...,...
2022-03-23,443.80,5.8800,23.57,-0.012878,-0.063694,0.027463
2022-03-24,450.48,6.7000,21.67,0.015052,0.139456,-0.080611
2022-03-25,452.69,4.5500,20.81,0.004906,-0.320896,-0.039686
2022-03-28,455.91,5.8500,19.63,0.007113,0.285714,-0.056704
2022-03-29,461.55,6.1600,18.90,0.012371,0.052991,-0.037188